﻿@model IEnumerable<SistemaInventarioVentas.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
</p>

<table id="ClienteTable" class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClienteID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ClienteID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClienteID })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- DataTable CDN -->
@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js "></script>

    <script>
        $(document).ready(function () {
            $("#ClienteTable").DataTable();
        });
    </script>
}
