﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema inventario</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- DataTable Css CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css">

</head>
<body>
    <div class="nav navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Sistema Inventario", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Productos", "Index", "Productos", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Categorias", "Index", "Categorias", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Almacenes", "Index", "Almacenes", null, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="comprasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Compras
                        </a>
                        <div class="dropdown-menu" aria-labelledby="comprasDropdown">
                            @Html.ActionLink("Proveedores", "Index", "Proveedores", null, new { @class = "nav-link dropdown-item" })
                            @Html.ActionLink("Compras", "Index", "Compras", null, new { @class = "nav-link dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="ventasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ventas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ventasDropdown">
                            @Html.ActionLink("Clientes", "Index", "Clientes", null, new { @class = "nav-link dropdown-item" })
                            @Html.ActionLink("Ventas", "Index", "Ventas", null, new { @class = "nav-link dropdown-item" })
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content mt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <style scoped>
        .dropdown-menu, .dropdown-item {
            background: #4C555E;
            cursor: pointer;
        }

        .dropdown-item:hover {
            background: #808080;
        }
    </style>

    <script src="~/Scripts/popper.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
