﻿@model IEnumerable<SistemaInventarioVentas.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
</p>
<table id="CategoryTable" class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoriaID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoriaID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoriaID })
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- DataTable CDN -->
@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js "></script>

    <script>
        $(document).ready(function () {
            $("#CategoryTable").DataTable();
        });
    </script>
}