﻿@model SistemaInventarioVentas.Models.Almacen

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del almacen</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoAlmacen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoAlmacen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlmacenID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
