﻿@model IEnumerable<SistemaInventarioVentas.Models.Venta>

@{
    ViewBag.Title = "Ventas";
}

<h2>Ventas</h2>

<p>
    @Html.ActionLink("Crear", "Create", null, new { @class = "btn btn-primary" })
</p>

<table id="VentaTable" class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.VentaID })
                </td>
            </tr>
        }
    </tbody>
    @*<tfoot>
            <tr>
                <th class="totalPrice">Total: $<span id="total">0</span></th>
            </tr>
        </tfoot>*@
</table>

<!-- DataTable CDN -->
@section scripts{
    @* DataTable *@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    @* Export buttons *@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js"></script>

    @* Export table to PDF *@
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    @* Export table to Excel and CSV *@
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    @* Print table *@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#VentaTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        className: 'btn btn-outline-info',
                        extend: 'collection',
                        text: 'Export',
                        buttons: [
                            {
                                className: 'btn btn-warning',
                                extend: 'csv',
                                exportOptions: {
                                    columns: [4, 0, 1, 3]
                                }
                            },
                            {
                                className: 'btn btn-success',
                                extend: 'excel',
                                exportOptions: {
                                    columns: [4, 0, 1, 3]
                                }
                            },
                            {
                                className: 'btn btn-danger',
                                extend: 'pdf',
                                exportOptions: {
                                    columns: [4, 0, 1, 3]
                                }
                            },
                            {
                                className: 'btn btn-secondary',
                                extend: 'print',
                                exportOptions: {
                                    columns: [4, 0, 1, 3]
                                }
                            },
                        ]
                    },
                ]
            });
        });
    </script>
}
